################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.Base/obj
/Movie.Domain/bin/Debug/net6.0
/Movie.Domain/obj
/App.Base/bin/Debug/net6.0
/MovieApplication/bin/Debug/net6.0
/MovieApplication/obj
/MovieApplication/Properties
/MovieApplication/appsettings.json
